body {
    background-color: rgba(216, 133, 25, 0.349);
    font-family: 'Nunito', sans-serif;
}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
  }

.img-w150 {
    width: 20vh;
    border-radius: 50%;
}

.menu {
    margin-top: 5vh;
}